// Header
  | ================================================== 
// 960 Container 
.container.ie-dropdown-fix

    
  // Header 
  #header
    // Logo 
    .twelve.columns
      #logo
        a(href='/')
          img(src='/images/weblogo.png', alt='logo')
        #tagline Connecting people at events
        .clear

    // Social / Contact 
    .four.columns
      // Social Icons 
      ul.social-icons
        li.facebook
          a(href='#{ links.facebook }') Facebook
        li.twitter
          a(href='#{ links.twitter }') Twitter
        li.linkedin
          a(href='#{ links.linkedin }') LinkedIn
      .clear
      // Contact Details 
      #contact-details
        ul
          li
            i.mini-ico-user
            if !isLoggedIn
              a#login(href=links.login) Login
            else
              a#login(href=links.logout) Logout #{ locals.public.user.userName }
    // Header / End 
    // Navigation 
  .sixteen.columns
    #navigation
      ul#nav
        li
          a(href='#{ links.home }') Home
        li
          a(href='#{ links.features }') Features
        li
          a(href='#{ links.about }') About Us
        li
          a(href='#{ links.contact }') Contact
        li
          a(href='#{ links.mycontaggs }') My Contaggs
        if locals.showevents
          li
            a(href='#{ links.myownedevents }') My Events
            ul
              li
                a(href='#{ links.myattendedevents }') My Attended Events
              li
                a(href='#{ links.myownedevents }') My Owned Events

        //-
          li
            a(href='#{ links.developers }') Developers
        


//- Search Form 
      .search-form
        form(method='get', action='#')
          input.search-text-box(type='text')
    .clear
  // Navigation / End 
// 960 Container / End 
