include mixins/twittertimeline

extends layout

block javascripts
  script(src='/js/ng-eventview.js')

block content

  //-.container
    .sixteen.columns
      #page-title
        h2 Event Details
        #bolded-line  
  
  .container.my-events(ng-controller="eventViewController", ng-init='init(' + publicPageVars + ')')
    if !locals.event

      .sixteen.columns
        p Sorry, that event is not accessible.
    
    else

      .twelve.columns.event-view
        h2 #{ event.name }

        .twelve.columns.register(ng-show="userIsRegistered", style="display:none;")
          .notification.success
            p You are {{ userStatus }} for this event.

        .twelve.columns.register(ng-show="userCanRegister", style="display:none;")
          a.button.color(href='#', ng-click='register()', no-click) Register For This Event
          i.icon-spinner.icon-spin.icon-2x(style="display:none;", ng-show="isRegistering")

        .twelve.columns
          .headline.no-margin
            h3 When
          p #{ event.startDate } at #{ event.startTime }
          
          
          .headline.no-margin
            h3 What
          //- Unescape this value with the "!" instead of "#".  Jade escapes everything by default.
          p !{ event.description.htmlize() }
          
          .headline.no-margin
            h3 Where
          p #{ event.address } 

          // Google Maps 
          #googlemaps.google-map.google-map-full(style='height: 250px;margin-bottom:30px')
          script(src='//maps.google.com/maps/api/js?sensor=true')
          script(src='/js/jquery.gmap.min.js')
          script(type='text/javascript')
            jQuery('#googlemaps').gMap({
              maptype: 'ROADMAP',
              scrollwheel: false,
              zoom: 13,
              markers: [
                {
                  address: "#{ event.address }",
                  html: '',
                  popup: false
                }
              ]
            });

          .headline.no-margin
            h3 Event Organizer

          .ten.columns.event-owner
            .two.columns
              img.admin-user-image(src="#{ eventOwner.pictureUrl }")
            .four.columns
              ul
                li
                  a(href="#{ eventOwner.path }") #{ eventOwner.name }

        .twelve.columns
          .headline
            h4 Share This Event
          p Link: 
            a(href=event.fullPath) !{ event.fullPath }
        
        .twelve.columns
          .headline
            h4 Who's Checked In

          div(ng-show="loadingEventUsers")
            p Finding users...
          
          div(ng-show="!loadingEventUsers", ng-cloak)
            
            div#check-ins(ng-show="checkedInUsers.length > 0")
              //- Display the event's contaggs if we have any
              .user-image(ng-repeat="checkedInUser in checkedInUsers")
                //a(href="//www.socialtagg.com/users/{{ checkedInUser.id }}") // link to profiles
                img(src="{{ checkedInUser.pictureUrl }}")
                p(style="line-height:15px; margin-top:3px") {{ checkedInUser.firstName }} {{ checkedInUser.lastName }}
              .clear
            
            div(ng-show="!checkedInUsers || checkedInUsers.length == 0")
              .twelve.columns
                p No one has checked in yet!

        if locals.isEventOwner
          .twelve.columns.event-new-user#manual-entry
            .headline
              h4 Manual User Entry

            //- Error message, set style explicitly so it won't flash on page refresh
            // Huh, this might be a good place for a directive!
            .notification(ng-show='notifyMsg', style='display: none;', ng-class='notifyClass')
              p
                span {{ notifyMsg }}
                a.close(href='#', ng-click='clearMsg()', no-click)

            form.form-horizontal
              
              .three.columns
                .field
                  label(for='firstName') First Name
                  input.text.event-datetime(type='text', id='firstName', ng-model='newUser.firstName')

              .three.columns
                .field
                  label(for='lastName') Last Name
                  input.text(type='text', id='lastName', ng-model='newUser.lastName')

              .three.columns
                .field
                  label(for='email') Email
                  input.text(type='text', id='email', ng-model='newUser.email')
              
              .three.columns
                .field
                  label(for='company') Company
                  input.text(type='text', id='company', ng-model='newUser.company')
              
              .three.columns
                .field
                  label(for='title') Job Title
                  input.text(type='text', id='title', ng-model='newUser.title')


              .three.columns
                a.button.color(href='#', ng-click='addUser()', no-click) Save & Check In
                i.icon-spinner.icon-spin.icon-2x.spinnerleftmargin(ng-show='savingNewUser')


        .twelve.columns
          .headline
            h4 Who's Registered
          div(ng-show="loadingRegisteredUsers")
            p Finding users...
          
          div(ng-show="!loadingRegisteredUsers", ng-cloak)
            
            div#check-ins(ng-show="registeredUsers.length > 0")
              
              if locals.isEventOwner
                //- Admin view: display admin actions
                .ten.columns.actionable(ng-repeat="registeredUser in registeredUsers")
                  .two.columns
                    img.admin-user-image(src="{{ registeredUser.pictureUrl }}")
                  .four.columns
                    ul
                      li {{ registeredUser.lastName + ', ' + registeredUser.firstName }}
                      li 
                        a(href='mailto:{{ registeredUser.email }}')
                          {{ registeredUser.email }}
                  .two.column
                    a.button.color(href='#', ng-click='checkinUser(registeredUser)', no-click) Check In
                    i.icon-spinner.icon-spin.icon-2x(style='display:none;', ng-show="registeredUser.isCheckingIn")
  

              else
                //- Public view: display the event's contaggs if we have any
                .user-image(ng-repeat="registeredUser in registeredUsers")
                  //a(href="//www.socialtagg.com/users/{{ registerdUser.id }}") // link to profiles
                  img(src="{{ registeredUser.pictureUrl }}")
                  p(style="line-height:15px; margin-top:3px") {{ registeredUser.firstName }} {{ checkedInUser.lastName }}

                .clear
            
            div(ng-show="!registeredUsers || registeredUsers.length == 0", ng-cloak)
              .twelve.columns
                p(ng-show="checkedInUsers.length == 0") No one has registered yet!  Please check back later.
                p(ng-show="checkedInUsers.length > 0") Everyone has checked in!

        //- Not going to work as it stands - see comment in the mixin
          if event.hashtag
            .twelve.columns
              .headline
                h4 Tweets
    
              mixin twittertimeline(event.hashtag)
      

  
      include includes/eventtools

