doctype
html
    
  head
    title #{ title }
    link(rel='stylesheet', type='text/css', href='/css/style.css') 

  body.checkin-page
  
    h1.leader #{ event.name }
      
    .dates
      h2 #{ event.startDate } #{ event.startTime } - #{ event.endDate } #{ event.endTime }
      
    .instructions
      h1.leader How to Check-In
      h4 Scan the QR code with your SocialTagg app to check in to the event, or to install SocialTagg.
        
      img(class='qr-code', src=event.qrCodeUrl)

    //- These are positioned in a quite inelegant way in the CSS  :(
    .tag-line
      img(src='/images/weblogo2.png')
      p | Better Networking.  Better Events.  
  
  
      h2 Create your event today at  
        a(href='http://socialtagg.com') http://socialtagg.com
        | !
      