extends layout

block content

  .container
    .sixteen.columns
      #page-title
        h2 Event Details
        #bolded-line  
  
  .container.my-events
    if !public.isLoggedIn

      .sixteen.columns
        .headline.no-margin
          h3 Event - Details

          p Please 
            a(href=links.login) log in.
    
    else if !locals.event

      .sixteen.columns
        p Sorry, that event is not accessible.
    
    else

      .twelve.columns
        .headline.no-margin
          h4 Event Details

        .twelve.columns
          ul
            li
              .desc Name
              .value #{ event.name }

            li
              .desc Description
              .value #{ event.description }  

            li
              .desc Date
              .value #{ event.startDate }

      .twelve.columns
        .headline
          h4 Contaggs from Event
        
        //- Display the event's contaggs if we have any
        if locals.contaggs
          each contagg in contaggs
            .twelve.columns.contagg-container
              a(href=contagg.path)
                img(src=contagg.pictureUrl).user-image
                p #{ contagg.name }

        else
          .twelve.columns
            p You do not have any contaggs from this event.

include includes/eventtools
      













