extends layout

block content

  .container
    .sixteen.columns
      #page-title
        h2 My Contaggs
        #bolded-line  
  
  .container.my-contaggs
    if !public.isLoggedIn

      .sixteen.columns
        .headline.no-margin
          h3 Contaggs

          p Please 
            a(href=links.login) log in.
    else

      .twelve.columns
        .headline.no-margin.contagg-list
          h4 Contaggs

        if locals.contaggs
          //- Todo: convert this to an angular controller to allow single-page
          //- contagg management
          each contagg in contaggs
            .twelve.columns.contagg-container
              a(href=contagg.path)
                img(src=contagg.pictureUrl).user-image
                p #{ contagg.name }
          
        else
          .twelve.columns
            p You have no contaggs at this time.
            p Contaggs are easy to add.  Download our mobile app and scan your contact's QR code.

      //- Right-hand column
      .four.columns
        .widget-alt
          .headline.no-margin
            h4 Tools
          .tool-items
            a(href=links.mycontaggs + '?action=export')
              i.ico-file-export
              span Export your Contaggs














