extends layout

block content
  //-
    .container
      .sixteen.columns
        #page-title
          h2 #{ displayUser.name }
          #bolded-line
 
  .container.user-view
    .four.columns
      img(src=displayUser.pictureUrl).user-image
    
    .seven.columns
      h2 #{ displayUser.name }
      p #{ displayUser.title }
      p #{ displayUser.company }



      .headline.no-margin
        h3 Contact Information
      
      - if (displayUser.phone && displayUser.phone.length > 0)
        p
          i.ico-phone
          b #{ displayUser.phone }
      - if (displayUser.website && displayUser.website.length > 0)
        p
          i.ico-globe
          b
            - var ws = displayUser.website.match(/^http/i) ? displayUser.website : 'http://' + displayUser.website
            a(href=ws, target="_blank") #{ displayUser.website }
      - if (displayUser.address && displayUser.address.length > 0)
        p
          i.ico-google-maps
          b #{ displayUser.address }
      - if (displayUser.email && displayUser.email.length > 0)
        p
          i.ico-envelope
          b
            a(href="mailto:" + displayUser.email) #{ displayUser.email }
      - if (displayUser.twitter && displayUser.twitter.length > 0)
        p
          i.twitter.social
          b #{ displayUser.twitter }



      - if (displayUser.bio && displayUser.bio.length > 0)
        .headline.no-margin
          h3 Bio
        p
          //- Unescape this value with the "!" instead of "#".  Jade escapes everything by default.
          | !{ displayUser.bio.htmlize() }
    
      
      - if (locals.showQrCode)
        .headline
          h3 Badge
        img(src=displayUser.qrCodeUrl)


    include includes/profiletools
