extends layout

block content

  .container
    .sixteen.columns
      #page-title
        h2 #{ user.name }
        #bolded-line
 
  .container.user-view
    .four.columns
      img(src=user.pictureUrl).user-image
    .twelve.columns
      .headline.no-margin 
        h3 Bio
      p #{ user.bio}

  .container.user-view
    .one-third.column
      .headline.no-margin
        h3 Company
      p #{ user.company }
    .one-third.column
      .headline.no-margin
        h3 Title
      p #{ user.title }
    .one-third.column
      .headline.no-margin
        h3 Website
      p
        a(href=user.website, target="_blank") #{ user.website }

  .container.user-view
    .six.columns
      .headline.no-margin
        h3 Address
      p #{ user.address }
    .six.columns
      .headline.no-margin
        h3 Email
      p
        a(href="mailto:" + user.email) #{ user.email }
    .four.columns
      .headline.no-margin
        h3 Twitter
      p #{ user.twitter }
        
        