mixin eventanalyticschart(width, height, headline, id, legendSupplement)

  .container
    .headline
      h4 "#{ headline }" 
        - if (legendSupplement)
          | (#{ legendSupplement })
    
    //- Display area for the result data
    .eight.columns
      .chartcontainer(style='width:' + width + 'px;height:' + height + 'px')
        
        .placeholder(ng-show='isLoading["' + id + '"]') {{ isLoadingMsg["#{ id }"] }}
        
        .chart(ng-show='!isLoading[' + id + ']', style='display:none;')
          canvas(id=id, width=width, height=height)
  
    //- This is only displayed if we need a legend, like for a pie chart
    .six.columns(ng-show='displayType["' + id + '"] == "multichoice" || displayType["' + id + '"] == "scale_1to5"', style='display:none;')
      .headline.no-margin
        h4 Legend 
      
      .pie-items
        ul
          li(ng-repeat='datapoint in dataResults["' + id + '"] | orderBy:"value":true')
            .color-block(style='background-color: {{ datapoint.color}};')
            | {{ datapoint.label }} ({{datapoint.value}})
            .clear