mixin eventanalyticschart(width, height, headline, type)

  .container
    .headline
      h4 #{ headline }
    
    .eight.columns
      .chartcontainer(style='width:' + width + 'px;height:' + height + 'px')
        
        .placeholder(ng-show='isLoading["' + type + '"]') {{ isLoadingMsg["#{ type }"] }}
        
        .chart(ng-show='!isLoading[' + type + ']', style='display:none;')
          canvas(id=type, width=width, height=height)
  
    .six.columns(ng-show='displayType["' + type + '"] == "multichoice" || displayType["' + type + '"] == "scale_1to5"', style='display:none;')
      .headline.no-margin
        h4 Legend
      
      .pie-items
        ul
          li(ng-repeat='datapoint in dataResults["' + type + '"] | orderBy:"value":true')
            .color-block(style='background-color: {{ datapoint.color}};')
            | {{ datapoint.label }} ({{datapoint.value}})
            .clear